TECH_DAILY_SUMMARY_MODE=hybrid
TECH_DAILY_EDITORIAL_MODE=hybrid
TECH_DAILY_LLM_MODEL=deepseekv4
TECH_DAILY_LLM_API_URL=
TECH_DAILY_LLM_API_KEY=
TECH_DAILY_LLM_TIMEOUT_SECONDS=20
TECH_DAILY_LLM_FALLBACK_ENABLED=true
